<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"></circle><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"></path></svg>
      <small class="d-block mb-3 text-muted">© 2017-2021</small>
    </div>
    <div class="col-6 col-md">
      <h5>特徴</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">クールなスタッフ</a></li>
        <li><a class="link-secondary" href="#">その他の特徴</a></li>
        <li><a class="link-secondary" href="#">チームの特徴</a></li>
        <li><a class="link-secondary" href="#">開発者向け</a></li>
        <li><a class="link-secondary" href="#">そのほか</a></li>
        <li><a class="link-secondary" href="#">最後</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>リソース</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">リソース</a></li>
        <li><a class="link-secondary" href="#">リソース名</a></li>
        <li><a class="link-secondary" href="#">その他のリソース</a></li>
        <li><a class="link-secondary" href="#">最後のリソース</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>リソース</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">ビジネス</a></li>
        <li><a class="link-secondary" href="#">教育</a></li>
        <li><a class="link-secondary" href="#">政治</a></li>
        <li><a class="link-secondary" href="#">ゲーム</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>この製品について</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">チーム</a></li>
        <li><a class="link-secondary" href="#">場所</a></li>
        <li><a class="link-secondary" href="#">プライバシー</a></li>
        <li><a class="link-secondary" href="#">利用規約</a></li>
      </ul>
    </div>
  </div>
</footer>